@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 195 53% 92%;
    --foreground: 224 71% 4%;

    --card: 195 53% 96%;
    --card-foreground: 224 71% 4%;

    --popover: 195 53% 96%;
    --popover-foreground: 224 71% 4%;

    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 195 30% 88%;
    --secondary-foreground: 224 71% 4%;

    --muted: 195 30% 88%;
    --muted-foreground: 224 20% 30%;

    --accent: 197 71% 80%;
    --accent-foreground: 224 71% 4%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 195 30% 82%;
    --input: 195 30% 82%;
    --ring: 217 91% 60%;
    
    --chart-1: 217 91% 60%;
    --chart-2: 197 71% 73%;
    --chart-3: 212 98% 73%;
    --chart-4: 0 84% 60%;
    --chart-5: 142 76% 36%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 195 20% 96.5%;

    --card: 224 71% 6%;
    --card-foreground: 195 20% 96.5%;

    --popover: 224 71% 4%;
    --popover-foreground: 195 20% 96.5%;

    --primary: 197 71% 73%;
    --primary-foreground: 224 71% 4%;

    --secondary: 224 30% 10%;
    --secondary-foreground: 195 20% 96.5%;

    --muted: 224 30% 10%;
    --muted-foreground: 195 20% 60%;

    --accent: 224 30% 10%;
    --accent-foreground: 195 20% 96.5%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 224 30% 10%;
    --input: 224 30% 10%;
    --ring: 197 71% 73%;

    --chart-1: 217 91% 60%;
    --chart-2: 197 71% 73%;
    --chart-3: 212 98% 73%;
    --chart-4: 0 84% 60%;
    --chart-5: 142 76% 36%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
